<!DOCTYPE html>
<html lang="en">
<head>
	<title>Piscinas Jireh</title>
	<meta charset="utf-8">
	<meta name = "format-detection" content = "telephone=no" />
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery.js"></script>
	<script src="js/jquery-migrate-1.2.1.js"></script>
	<!--[if (gt IE 9)|!(IE)]><!-->
	<script src="js/jquery.mobile.customized.min.js"></script>
	<script src="js/wow/wow.js"></script>
	<script>
		$(document).ready(function () {
			if ($('html').hasClass('desktop')) {
				new WOW().init();
			}
		});
	</script>
	<!--<![endif]-->



	<!--[if lt IE 8]>
  <div id="ie6-alert" style="width: 100%; text-align:center;">
    <img src="http://beatie6.frontcube.com/images/ie6.jpg" alt="Upgrade IE 6" width="640" height="344" border="0" usemap="#Map" longdesc="http://die6.frontcube.com" />
      <map name="Map" id="Map"><area shape="rect" coords="496,201,604,329" href="http://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank" alt="Download Interent Explorer" /><area shape="rect" coords="380,201,488,329" href="http://www.apple.com/safari/download/" target="_blank" alt="Download Apple Safari" /><area shape="rect" coords="268,202,376,330" href="http://www.opera.com/download/" target="_blank" alt="Download Opera" /><area shape="rect" coords="155,202,263,330" href="http://www.mozilla.com/" target="_blank" alt="Download Firefox" />
        <area shape="rect" coords="35,201,143,329" href="http://www.google.com/chrome" target="_blank" alt="Download Google Chrome" />
      </map>
  </div>
  <![endif]-->
  <!--[if lt IE 9]>
  	<script src="js/html5shiv.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
  <![endif]-->

  <style type="text/css">
	  .more_btn{
	  	background: white;
	    color: #0dceea;
	    margin-bottom: 50px;
	  }

	  	  .more_btn_blue{
	  	background: #0dceea;
	    color: white;
	    margin-bottom: 50px;
	  }
  </style>


  <style type="text/css">
  	.box-5 {
    background: #fff;
    color: #0dceea;
}

.box-5:before {
    background: none;
}

#content {
    background: #0dceea;
}

.box-2 {
	margin-top: 0px;
}

.box-4 {
    background: #0dceea;
    color: #fff;
}
.box-4:before {
	background: none;
}

  </style>
</head>

<body>

	<!--========================================================
														HEADER 
	=========================================================-->
	<header id="" style="background: url(<%= img_bg1 %>) 50% 0 no-repeat #3a3a3a;">
		<div id="stuck_container">
			<div class="container">
					<nav>
						<ul class="sf-menu">
							<li class="current"><a href="index">Jireh<strong></strong></a></li>
							<li><a>Servicios<strong></strong></a>
								<ul class="submenu">
									<li><a href="servicios-construccion">Construcción</a></li>
									<li><a href="servicios-remodelacion">Remodelación</a></li>
									<li><a href="servicios-mantenimiento">Mantenimiento</a></li>
								</ul>
							</li>
							<li><a href="productos">Catálogo<strong></strong></a></li>
							<li><a href="nosotros">Nosotros<strong></strong></a></li>
							<li><a>Proyectos<strong></strong></a>
								<ul class="submenu">
									<li><a href="proyectos-construccion">Construcción</a></li>
									<li><a href="proyectos-remodelacion">Remodelación</a></li>
								</ul>
							</li>
							<li id="last-li"><a href="contactar">Contactar<strong></strong></a></li>
						</ul>
					</nav>

					<h1 class="marTop1"><a href="index"><img src="images/logos/JIREH logo blanco-01.jpg" alt="logo" style="max-width: 320px;"></a> </h1>
			</div>
		</div>
	</header>
	<!--========================================================
														CONTENT 
	=========================================================-->
	<div class="box-5">
		<div class="line-break-header">
		</div>
			<div class="container">
				<h2 class="txt_cntr"><span class="bold Construccion_titulo_1"></span></h2>

				

				<div class="row">
					<div class="grid_12">
						
						<p class="Construccion_titulo_1_subtitulo_1">
							<!-- Piscinas Jireh es una empresa sólida en el sector de la construcción de piscinas, enfocada 	en la elaboración de proyectos residenciales, comerciales y servicios complementarios; así 	como diseño de áreas comunes en armonía con el entorno. -->
						</p>
						<p class="Construccion_titulo_1_subtitulo_2">
							<!-- La construcción en Piscinas es de alta calidad y el buen servicio de piscina son prioridad. Por esta razón, nuestro Departamento de Construcción cuenta con sus propias cuadrillas de construcción, con la experiencia que han obtenido nuestros profesionales y operarios en el campo. Por lo tanto, con Jireh Piscinas y Spas su piscina será de la más alta calidad y usted, ¡Se evitará problemas a futuro! -->
						</p>

						<a href="contactar" class="more_btn more_btn_blue Construccion_boton_1"></a>

						
					</div>





				</div>

			</div>

		</div>



	<section id="content">

		

		<div class="line-break-header">
		</div>

		<div class="container container-custom-3">
			<p class="txt1"><span class="bold Construccion_titulo_2"></span></p>


			<div class="row bold400">

						<p class="Construccion_titulo_2_subtitulo_1">​
							<!-- Si usted está pensando construir una piscina en un futuro inmediato o a mediano plazo y desea obtener sin compromiso una asesoría e incluso una visita de nuestro personal de ventas a su propiedad, tenemos los mejores precios en las formas más comunes y diseños de su piscina, dimensiones en metros cuadrados solo debe llamar y nuestro personal calificado le visitará. -->
						</p>
						<p class="Construccion_titulo_2_subtitulo_2">​
							<!-- Jireh cuenta con un departamento totalmente especializado en brindar servicio de mantenimiento a las piscinas, los spas, fuentes, espejos de agua y toda clase de obras afines. -->
						</p>

						<a href="contactar" class="more_btn Construccion_boton_2"></a>

						


			</div>
		</div>




		<div class="box-2 custom-parallax" style="background: url(<%= img_bg2 %>) 50% 0 no-repeat;">

		<div class="line-break-header-2">
		</div>
			<div class="container container-custom-1" style="margin-bottom: 0px;">
				<p class="txt1"><span class="bold Construccion_titulo_3"></span></p>
				<div class="row txt_cntr">
				

			<div class="row">
				
						

						<ul class="listWithMarker" style="text-transform: none;">

							<li class="Construccion_titulo_3_item_1">
								<!-- Diseños de Piscinas, SPA --> 
							</li>
							<li class="Construccion_titulo_3_item_2">
							<!-- Diseño de Cascadas -->
						</li>
							<li class="Construccion_titulo_3_item_3">
							<!-- Acabados en Vitro-cerámica -->
						</li>
							<li class="Construccion_titulo_3_item_4">
							<!-- Remodelación de piscinas -->
						</li>
							<li class="Construccion_titulo_3_item_5">
							<!-- Construcción de piscinas -->
						</li>
							<li class="Construccion_titulo_3_item_6">
							<!-- Iluminación de piscinas -->
						</li>
							<li class="Construccion_titulo_3_item_7">
							<!-- Filtros de piscina -->
						</li>
							<li class="Construccion_titulo_3_item_8">
							<!-- Hidrazzo -->
						</li>
							<li class="Construccion_titulo_3_item_9">
							<!-- Accesorios de piscinas -->
						</li>

						</ul>
						<a href="contactar" class="more_btn Construccion_boton_3"></a>

			</div>

			</div>
		</div>

		</div>


	</section>

	<!--========================================================
														FOOTER 
	=========================================================-->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="grid_4 containerAddressFooter" style="text-align: left;">
					<p style="position: relative;top: 50px;">
						<a class="telefono">
						<!-- href="tel:+50622608273" -->
						
							<!-- +506 2260-8273 -->
						</a>
					</p>
					<p style="position: relative;top: 30px;">
						<!-- Heredia Centro frente Iglesia Corazón de Jesús -->
						<text class="direccion"></text>
						<a target="_top" class="correo"></a>
					</p>
				</div>
				<div class="grid_4 containerLogoFooter">
					<div class="grid_4">
						<img src="images/logos/JIREH logo-06.png" alt="" class="img2" >	
					</div>
					<div class="grid_4 copyrightjireh">
						<p class="txt_priv">Piscinas y Spas Jireh © <span id="copyright-year"></span><br><!--{%FOOTER_LINK} --></p>
					</div>
				</div>
				<div class="grid_4">
					<ul class="soc_icons">
						<li><a class="direccion_facebook" style="width: 60px;height: 60px;color: #fff;text-decoration: none;background: #0dceea;"><i class="fa fa-facebook" style="font: normal normal normal 32px/2 FontAwesome !important;"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

<script src="js/script.js"></script>

<script type="text/javascript">

	 $(document).ready(function(){
		// Initialize the gallery
		// $('.magnifier2').touchTouch();
			
		var obj = { page: "Servicios" };
		cargar(obj);
		
		var foot = { page: "Contactar" };
		cargar(foot);
		
	 });

	function cargar(obj){
		var json_text = JSON.stringify(obj, null, 2);

		$.ajax({
			url: '/api/user/getcmscontent',
			type: 'POST',
			contentType: 'application/json',
			data: json_text,
			success: function (response) {
				 // console.log("respuesta: " + response);
				if (response.message == "Records loaded successfully"){
					for (var i = 0; i < response.elements.length; i++) {
						switch(response.elements[i].campo){
							// DIRECCIONES URL QUE NECESITAN SER INYECTADAS EN HREF.
							case "direccion_facebook": {
								$("."+response.elements[i].campo).attr('href', response.elements[i].valor);
								break;
							}
							case "correo": {
								$("."+response.elements[i].campo).attr('href', 'mailto:' + response.elements[i].valor);
								$("."+response.elements[i].campo).text(response.elements[i].valor);
								break;
							}
							case "telefono": {
								$("."+response.elements[i].campo).attr('href', 'tel:' + response.elements[i].valor);
								$("."+response.elements[i].campo).text(response.elements[i].valor);
								break;
							}
							
							// TEXTO RESTANTE && NORMAL
							default: {
								$("."+response.elements[i].campo).text(response.elements[i].valor);
								break;
							}
						}
					}
				}
			}
		});
	}
</script>

</body>
</html>